@import '_variables.scss';
@import '_spacing.scss';
@import '_form.scss';
@import '_common.scss';

body {
	font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, 'Segoe UI',
		sans-serif;
	background: var(--theme-background-color);
	color: var(--color-text);
	&.no-scroll {
		overflow: hidden;
	}
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--theme-background-color-secondary) transparent;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--theme-background-color-secondary);
	border-radius: 4px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

