.Nav {
	display: flex;
	gap: 1.875rem;
	align-items: center;
	.link {
		position: relative;
		font-weight: 500;
		font-size: 0.95rem;
		&::after {
			content: '';
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 0;
			height: 2px;
			background-color: var(--color-accent);
			transition: width 0.3s ease;
		}
		&:hover,
		&.active {
			&::after {
				width: 100%;
			}
		}
	}
}
